In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
data = pd.ExcelFile('/home/romain/Bureau/Shadow_corrige.xls')

In [3]:
data.sheet_names

['Feuille1', 'Table dynamique']

In [4]:
df = data.parse('Feuille1')

In [5]:
df.head()

,1-ID_Sujet,2-Essai,3-Date,4-Heure,5-Nom_Ombre,6-Nom_Objet,7-Temps_Reaction,8-Temps_Deplacement,9-Temps_Total,10-Couleur
0,1,1,14-Feb-2017,09:27:26,absente,Pomme,0.523605,1.012345,1.535949,noire
1,1,2,14-Feb-2017,09:27:26,absente,Dévidoir,0.486128,1.171291,1.657419,noire
2,1,3,14-Feb-2017,09:27:26,inverse,Souris,0.470516,1.103335,1.573851,noire
3,1,4,14-Feb-2017,09:27:26,inverse,Oiseau,0.486586,1.354944,1.841531,noire
4,1,5,14-Feb-2017,09:27:26,Souris,Oiseau,0.426709,1.150893,1.577602,noire

In [6]:
df = df.drop(df.columns[[0, 1, 2, 3, 6, 7, 9]], axis = 1)
df.head()

  5-Nom_Ombre 6-Nom_Objet  9-Temps_Total
0     absente       Pomme       1.535949
1     absente    Dévidoir       1.657419
2     inverse      Souris       1.573851
3     inverse      Oiseau       1.841531
4      Souris      Oiseau       1.577602