In [31]:
import numpy as np
import pandas as pd
# pour importer les outils de maths

In [32]:
# importer la base de donnée
data = pd.ExcelFile('/Users/helene/Documents/code/python_project/ombres.xls')
data.sheet_names

['Feuille1']

In [33]:
df = data.parse('Feuille1')
df.head()

,1-ID_Sujet,2-Essai,3-Date,4-Heure,5-Nom_Ombre,6-Nom_Objet,7-Temps_Reaction,8-Temps_Deplacement,9-Temps_Total,10-Couleur
0,1,1,14-Feb-2017,09:27:26,absente,Pomme,0.523605,1.012345,1.535949,noire
1,1,2,14-Feb-2017,09:27:26,absente,Dévidoir,0.486128,1.171291,1.657419,noire
2,1,3,14-Feb-2017,09:27:26,inverse,Souris,0.470516,1.103335,1.573851,noire
3,1,4,14-Feb-2017,09:27:26,inverse,Oiseau,0.486586,1.354944,1.841531,noire
4,1,5,14-Feb-2017,09:27:26,Souris,Oiseau,0.426709,1.150893,1.577602,noire

In [34]:
df = df.drop(df.columns[[0, 1, 2, 3, 5, 6, 7, 9]], axis = 1)
df.head()

  5-Nom_Ombre  9-Temps_Total
0     absente       1.535949
1     absente       1.657419
2     inverse       1.573851
3     inverse       1.841531
4      Souris       1.577602