In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
data = pd.ExcelFile('/home/romain/Bureau/Shadow_corrige.xls')

In [3]:
data.sheet_names

['Feuille1', 'Table dynamique']

In [4]:
df = data.parse('Feuille1')

In [5]:
df.head()

,1-ID_Sujet,2-Essai,3-Date,4-Heure,5-Nom_Ombre,6-Nom_Objet,7-Temps_Reaction,8-Temps_Deplacement,9-Temps_Total,10-Couleur
0,1,1,14-Feb-2017,09:27:26,absente,Pomme,0.523605,1.012345,1.535949,noire
1,1,2,14-Feb-2017,09:27:26,absente,Dévidoir,0.486128,1.171291,1.657419,noire
2,1,3,14-Feb-2017,09:27:26,inverse,Souris,0.470516,1.103335,1.573851,noire
3,1,4,14-Feb-2017,09:27:26,inverse,Oiseau,0.486586,1.354944,1.841531,noire
4,1,5,14-Feb-2017,09:27:26,Souris,Oiseau,0.426709,1.150893,1.577602,noire

In [6]:
df = df.drop(df.columns[[0, 1, 2, 3, 5, 8, 9]], axis = 1)
df

     5-Nom_Ombre  7-Temps_Reaction  8-Temps_Deplacement
0        absente          0.523605             1.012345
1        absente          0.486128             1.171291
2        inverse          0.470516             1.103335
3        inverse          0.486586             1.354944
4         Souris          0.426709             1.150893
5         Souris          0.376597             1.154817
6        absente          0.379694             1.231407
7        absente          0.409645             1.106822
8         normal          0.343714             1.220705
9        inverse          0.454609             1.057892
10       inverse          0.347538             0.996828
11        normal          0.367667             1.095355
12        normal          0.362697             1.178568
13       absente          0.443666             1.151506
14       inverse          0.604649             1.159977
15       inverse          0.504714             1.103012
16       absente          0.467544             1.158654
17       inverse          0.399664             1.072653
18       inverse          0.398596             1.108424
19        Oiseau          0.447713             1.111565
20        normal          0.535687             1.118015
21       inverse          0.439706             1.101495
22       inverse          0.581660             1.164766
23       absente          0.564730             1.063541
24        normal          0.437696             1.192562
25       inverse          0.458409             1.030286
26       absente          0.424726             1.079622
27        normal          0.401473             1.108562
28        normal          0.377518             1.191454
29      devidoir          0.348704             1.153990
...          ...               ...                  ...
1007       Tasse          0.256415             0.964461
1008    devidoir          0.348405             0.990529
1009     inverse          0.352332             1.012293
1010       Fleur          0.363554             0.974316
1011     inverse          0.336241             0.980504
1012      normal          0.336503             0.972721
1013      normal          0.343306             0.993395
1014         Mug          0.347452             0.958832
1015     absente          0.379363             0.896492
1016     absente          0.283379             0.994528
1017      normal          0.361494             0.882765
1018      normal          0.372435             0.840496
1019     inverse          0.253470             0.947400
1020      normal          0.370485             0.858517
1021   Agrafeuse          0.337439             0.881606
1022     inverse          0.452421             0.830450
1023      normal          0.288486             0.819409
1024      normal          0.289190             0.788452
1025   Agrafeuse          0.343397             0.914553
1026     absente          0.350273             0.862385
1027      normal          0.347430             0.811642
1028     inverse          0.295458             0.963483
1029      normal          0.286443             0.862591
1030      Oiseau          0.259452             0.932689
1031       Pomme          0.319452             0.887422
1032     absente          0.289436             0.918516
1033     inverse          0.459377             0.820407
1034        Chat          0.354299             0.838441
1035     absente          0.304433             0.742518
1036     inverse          0.352428             0.822452

[1037 rows x 3 columns]

In [7]:
df.columns = ['y', 'X1', 'X2']

In [8]:
df.y.replace('absente', 0, inplace = True)
df.y.replace('normal', 1, inplace = True)
df.y.replace('inverse', 2, inplace = True)
df.y.replace(['Pomme','Chat','Agrafeuse', 'Oiseau', 'Mug', 'Tasse', 'devidoir', 'Tasse','Souris','Fleur'], 3, inplace = True)
df.tail()

      y        X1        X2
1032  0  0.289436  0.918516
1033  2  0.459377  0.820407
1034  3  0.354299  0.838441
1035  0  0.304433  0.742518
1036  2  0.352428  0.822452

In [9]:
df.to_csv('data.csv', sep = ',', index = False)